{% extends 'base.html' %}

{% block content %}
<style>
   label {
        margin-top: 2%;
        margin-bottom: 1%;

    }
</style>
{% if messages%}
{% for message in messages %}
<div id="message" class="container">
  <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" >
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      {% if message.level  == DEFAULT_MESSAGE_LEVELS.ERROR %}important: {% endif %}
      {{ message }}

  </div>
</div>
{% endfor %}
{% endif %}
 <!-- ...:::: Start Account Dashboard Section:::... -->
 <div class="account-dashboard" style="margin-top: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
               {% include 'sidebar.html' %}
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9  " style="height: 80%;">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    
                   
                        <h4>Edit Profile</h4>
                        <div class="table_page table-responsive">
                           <form method="POST">
                            {% csrf_token %}
                           

                            <div class="form-group">
                                <label><strong>Current Password</strong> </label>
                                <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label><strong> New Password</strong></label>
                                <input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>
                            </div> 
                            <div class="form-group">
                                <label><strong>Confrim Password</strong></label>
                                <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
                            </div> 
                            <input type="submit" value="Save" class="btn btn-golden" style="width: 10%;margin-top: 5%;">
                           </form>
                        </div>
                   
                   
                    
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Account Dashboard Section:::... -->




{% endblock %}