{% extends 'base.html' %}

{% block content %}
{% if messages%}
{% for message in messages %}
<div id="message" class="container">
  <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert" >
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      {% if message.level  == DEFAULT_MESSAGE_LEVELS.ERROR %}error: {% endif %}
      {{ message }}

  </div>
</div>
{% endfor %}
{% endif %}

<div class="customer-login" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                    <h3>Forgot Password</h3>
                    <form action="{% url 'forgotPassword' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <input type="email" id="form3Example1cg" name="email" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1cg">Your Email</label>
                          </div>                       
                        <div class="d-flex justify-content-center">
 
                            <button type="submit" style="background-color: #E29AD2;color: #ffff;" onmouseover="this.style.backgroundColor='#F5E5F2';" onmouseout="this.style.backgroundColor='#E29AD2';" class="btn btn-md btn-black-default-hover mb-4 text-body">Send email</button>

                          </div>
          
                          <p class="text-center text-muted mt-5 mb-0">Got Password?<a href="{% url 'signin' %}"
                              class="fw-bold text-body"><u> SignIn Here</u></a></p>



                    </form>
                </div>
            </div>
            <!--login area start-->

           
        </div>
    </div>
</div> <!-- ...:::: End Customer Login Section :::... -->

{% endblock %}