{% extends 'adminbase.html' %}

{% block content %}
{% load static %}
<!-- CONTENT WRAPPER -->
<div class="ec-content-wrapper">
	<div class="content">
		<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
			<div>
				<h1>Product</h1>
				<p class="breadcrumbs"><span><a href="#">Home</a></span>
					<span><i class="mdi mdi-chevron-right"></i></span>Product
				</p>

			</div>
			<form class="d-flex" method="POST" style="width: 50%;height: fit-content;margin-right: 5px;" >
				{% csrf_token %}
				<input
				  name="search"
				  class="form-control me-2"
				  type="search"
				  placeholder="Search"
				  aria-label="Search"
				  style="width: 100%;"
				/>
				<button class="btn btn-outline-success" type="submit" style="margin-left: 2%;">
				  Search

				</button>
			  </form>
			<div>
				<a href="{%url 'admin_addproducts'%}" class="btn btn-primary"> Add Porduct</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card card-default">
					<div class="card-body">
						<div class="table-responsive">
							{% if products %}
							<table id="responsive-data-table" class="table" style="width:100%">
								<thead>
									<tr>
										<th>Id</th>
										<th>Name</th>
										<th>slug</th>
										<th>price</th>
										<th>image</th>
										<th>Stock</th>
										<th>category</th>
										<th>description</th>
										<!-- <th>Action</th> -->
									</tr>
								</thead>

								<tbody>
									{%for i in products %}
									<tr>
										<th scope="row">{{i.id}}</th>
										<td>{{i.product_name}}</td>
									
										
										<td>{{i.slug}}</td>
										<td>{{i.price}}</td>
										<td><img class="tbl-thumb" src="{{i.image.url}}" style="height: 70px;width: 70px;" alt="Product Image" /></td>
										<td>{{i.stock}}</td>
										<td>{{i.category}}</td>
										<td>{{i.description}}</td>
										<!-- <td>ACTIVE</td> -->
										
										<td>
											<div class="btn-group mb-1">
												<button type="button" class="btn btn-outline-success">Info</button>
												<button type="button"
													class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
													data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
													data-display="static">
													<span class="sr-only">Info</span>
												</button>

												<div class="dropdown-menu">
													<a class="dropdown-item" href="{% url 'update_products' i.id %}">Edit</a>
													<button type="button"  data-bs-toggle="modal"
														data-bs-target="#a{{i.id}}" class="dropdown-item">
														delete
													</button>
												</div>
												   <!-- Modal -->
												   <div class="modal fade" id="a{{i.id}}" tabindex="-1"
												   aria-labelledby="exampleModalLabel" aria-hidden="true">
												   <div class="modal-dialog">
													   <div class="modal-content">
													
														   <div class="modal-header">
															   <h1 class="modal-title fs-5" id="exampleModalLabel">Alert
															   </h1>
															   <button type="button" class="btn-close"
																   data-bs-dismiss="modal" aria-label="Close"></button>
														   </div>
														   <div class="modal-body">
															   Do You Want To delete this product ?
														   </div>
														   <div class="modal-footer">
															   <button type="button" class="btn btn-secondary"
																   data-bs-dismiss="modal">Close</button>
															   <a href="{% url 'delete_products' i.id %}"><button
																	   type="button"
																	   class="btn btn-primary">delete</button></a>
														   </div>
													   </div>
												   </div>
											   </div>
												
											
											</div>
										</td>
									</tr>

									{% endfor %}

								</tbody>

							</table>
							{% else %}
							<h4 class="text-center">no records</h4>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<nav class="mt-4" aria-label="Page navigation sample">
				  {% if products.has_other_pages %}
				  <ul class="pagination">
					{% if products.has_previous %}
					<li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
				
					{% endif %} {% for page_number in products.paginator.page_range %} {% if products.number == page_number %}
					<li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
					{% else %}
					<li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
					{% endif %} {% endfor %} {% if products.has_next %}
					<li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
	
	
					{% endif %}
				  </ul>
				  {% endif %}
				</nav>
			  </div>
		</div>
	</div> <!-- End Content -->
</div> <!-- End Content Wrapper -->


<!-- Footer -->
{% endblock %}