{% extends 'adminbase.html' %}

{% block content %}
{% load static %}


<div class="page-inner">

    <!-- PAGE MAIN WRAPPER
                ================================================== -->
    <div id="main-wrapper">

        <!-- row -->
        <div class="row align-items-center grid-margin">
            <div class="col-12">
                <div class="card card-white">
                    <div class="card-body row align-items-center">
                        <div class="col-12 col-sm">
                            <h4 class="mb-4 mb-sm-0 text-center text-sm-start">Reviews</h4>
                        </div>
                        <form class="d-flex" method="POST" style="width: 50%;height: fit-content;margin-right: 5px;" >
                            {% csrf_token %}
                            <input
                              name="search"
                              class="form-control me-2"
                              type="search"
                              placeholder="Search"
                              aria-label="Search"
                              style="width: 100%;"
                            />
                            <button class="btn btn-outline-success" type="submit" style="margin-left: 2%;">
                              Search
                
                            </button>
                          </form>
                    </div>
                   
                </div>
                <br>


            </div>
        </div>
        <!-- end row -->

        <!-- row -->
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card card-white">
                    <div class="card-body slimscroll">
                        <div class="table-responsive">
                            {% if reviews %}
                            <table class="table">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Rating</th>
                                        <th scope="col">Review</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for i in reviews %}
                                    <tr>

                                        <th scope="row">{{i.id}}</th>
                                        <td>{{i.product}}</td>
                                        <td>{{i.user}}</td>
                                        <td>{{i.rating}}</td>
                                        <td>{{i.review}}</td>
                                        <!-- <td>{{i.active}}</td> -->

                                        <td>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#a{{i.id}}">Delete</button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="a{{i.id}}" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Alert
                                                            </h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Do You Want To Delete This Review ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <a href="{% url 'deleteReview' i.id %}"><button
                                                                    type="button"
                                                                    class="btn btn-primary">Delete</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h4 class="text-center">No records</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <nav class="mb-3 mt-3" aria-label="page navigation sample">
                {% if reviews.has_other_pages %}
                  <ul class="pagination">
                  {% if reviews.has_previous %}
                    <li class="page-item"><a class="page-link "href="?page={{reviews.previous_page_number}}">Previous</a></li>
       
                    {% endif %}
                    {% for i in reviews.paginator.page_range %}
                    {% if reviews.number == i %}
                     <li class="page-item active"><a class="page-link "href="#">{{i}}</a></li>
                     {% else %}
                     <li class="page-item"><a class="page-link "href="?page={{i}}">{{i}}</a></li>
                     {% endif %}
                     {% endfor %}
                     {% if reviews.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{reviews.next_page_number}}">Next</a></li>
                 
                    {% endif %}
                  </ul>
                  {% endif %}
                </nav>
        </div>









{% endblock %}